#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

table {
  font-size: 2rem;
}

#book-list > div{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
  padding-bottom: 1rem;
}

#book-list > div:nth-child(even) {
  background-color: rgb(245, 245, 255);
}

.input-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-card > * {
  padding: 0 1rem;
}

button {
  background-color: rgb(37, 170, 37);
  color: white;
}

.site-navigation ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.site-navigation li {
  padding: 1rem 3rem;
}

.site-navigation li:hover {
  background-color: rgb(236, 236, 255);
}