#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  font-size: 2rem;
}

#book-list > div{
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}