#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  font-size: 2rem;
}

#book-list > div{
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
}

.input-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.input-card > * {
  padding: 0 1rem;
}

button {
  background-color: rgb(37, 170, 37);
  color: white;
}